body{
	height: 100%;
	width: 100%;
	font-family: 'Roboto', sans-serif;
	display: flex;
    min-height: 100vh;
    flex-direction: column;
}
main {
    flex: 1 0 auto;
  }

#courses, #teach{

	padding-top: 3em;
}

.page-footer{
	height: auto !important;
}
.copy{
	margin-left:3em;
}
.social{
	float: right;
	margin-right:4em;
}